.service {
    display: grid;
    width: 85%;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10rem;
    text-align: center;

    @include big-tablet {
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        justify-items: center;
    }

    @include desktop {
        margin-bottom: 0;
    }

    &__content {
        margin-bottom: 5rem;
        max-width: 380px;

        &:nth-child(4) {
            margin-bottom: 0;
        }
    }
    
    &__illustration {
        width: auto;
    }
    &__subtitle {
        font-size: 18px;
        font-family: $font-2;

        @include desktop {
            font-size: 20px;
        }
    }
    &__paragraph {
        line-height: 1.5;
    }
}

.section-2 {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10.5rem;
    display: flex;
    flex-direction: column;

    @include desktop {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__illustration {
        margin-bottom: 2rem;

        @include big-tablet {
            width: 50%;
            margin-right: 4rem;
        }
    }

    &__text {
        @include desktop {
            width: 50%;
        }
    }

    &__subtitle {
        font-size: 18px;
        font-family: $font-2;

        @include desktop {
            font-size: 2.5rem;
            width: 400px;
        }
    }
    &__paragraph {
        line-height: 1.5;

        @include desktop {
            font-size: 1rem;
        }
    }
    &__link {
        color: $cyan-inside-gradient;
        font-size: 13px;
        padding-bottom: 6px;
        border-bottom: 1px solid;

        display: inline-flex;
        align-items: center;

        @include desktop {
            font-size: 1rem;
        }

        img {
            width: auto;
            margin-left: 6px;
        }
    }
}

.testimonial {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;

    @include desktop {
        flex-direction: row;
        width: 83%;
    }
    
    &__quotes {
        position: absolute;
        width: 1.3rem;
        top: -1rem;

        @include desktop {
            width: 3rem;
            top: -2rem;
        }
    }
}
.card {
    background-color: $dark-blue-testimonials-bg;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 4px;

    @include desktop {
        padding-top: 2rem;
        margin-right: 2.5rem;
    }

    &__paragraph {
        font-size: 12px;
        line-height: 1.5;
        margin-top: 0;

        @include desktop {
            font-size: 14px;
        }
    }
    &__profile {
        display: flex;
        align-items: center;

        &-img {
            width: 1.6rem;
            border-radius: 50%;
            margin-right: 8px;
        }
        &-name {
            font-size: 12px;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 2px;

            @include desktop {
                font-size: 10px;
            }
        }
        &-position {
            font-size: 10px;
            margin-top: 0;
            margin-bottom: 0;

            @include desktop {
                font-size: 8px;
            }
        }
    }
}
.ad {
    text-align: center;
    width: 90%;
    max-width: 863px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem 1.5rem;
    background-color: $dark-blue-intro-email-bg;
    position: relative;
    bottom: -140px;
    border-radius: 8px;
    box-shadow: 4px 6px 1rem rgb(0, 0, 0, .5);

    &__subtitle {
        font-size: 18px;
        font-family: $font-2;

        @include desktop {
            font-size: 2rem;
        }
    }
    &__paragraph {
        line-height: 1.5;
        margin-bottom: 2rem;

        @include desktop {
            width: 78%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__input {
        width: 100%;
        font-size: 12px;
        padding: 1rem 2rem;
        border-style: none;
        border-radius: 2rem;
        margin-bottom: 1.5rem;

        @include big-tablet {
            width: 50%;
            margin-right: 1rem;
        }
        @include desktop {
            width: 60%;
        }
    }
    &__button {
        width: 100%;
        margin-bottom: 1rem;

        @include big-tablet {
            width: 30%;
        }
        @include desktop {
            width: 25%;
        }
    }
}