.logo-footer {
    margin-top: 8rem;
    width: auto;
}
.contact {
    &__info {
        font-size: 1rem;

        display: flex;
        align-items: flex-start;

        svg {
            flex-shrink: 0;
            margin-right: 1.5rem;
        }
    }
}
.site {
    display: inline-grid;
    font-size: 1rem;
    row-gap: 1rem;

    &__link:nth-child(4) {
        margin-bottom: 2rem;
    }
}
.social {
    display: flex;
    justify-content: center;

    &__link {
        width: 30px;
        border: 1px solid;
        border-radius: 50%;
        padding: 6px;
        margin: 0 6px;

        display: inline-flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 14px;
            height: 14px;
        }
    }
}
.attribution {
    font-size: 11px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &__link {
        color: hsl(228, 45%, 44%);
    }
}