.logo-header {
    width: 83px;
}
.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}
.menu {
    list-style-type: none;
    padding-left: 0;

    display: flex;

    &__link {
        display: block;
        padding: 4px 8px;
        font-family: $font-2;
        font-size: 12px;
    }
}

.intro {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8rem;
    text-align: center;
    line-height: 1.5;
    
    &__illustration {
        margin-bottom: 1rem;
    }
    &__title {
        font-family: $font-2;
        font-size: 1.5rem;
    }
    &__paragraph {
        margin-bottom: 2rem;
    }
}