// primary colors
$dark-blue-intro-email-bg: hsl(217, 28%, 15%);
$dark-blue-main-bg: hsl(218, 28%, 13%);
$dark-blue-footer-bg: hsl(216, 53%, 9%);
$dark-blue-testimonials-bg: hsl(219, 30%, 18%);
// accent colors
$cyan-inside-gradient: hsl(176, 68%, 64%);
$blue-inside-gradient: hsl(198, 60%, 50%);
$light-red-error: hsl(0, 100%, 63%);
// neutral colors
$white: hsl(0, 0%, 100%);
// font-family body
$font-1: 'Open Sans';
// font-family headings, buttons
$font-2: 'Raleway';